alembic==1.10.3
aniso8601==9.0.1
anyio==3.6.2
attrs==23.1.0
azure-cognitiveservices-speech==1.29.0
banal==1.0.6
blinker==1.6.2
blueprint==3.4.2
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
databases==0.7.0
dataset==1.6.0
fastapi==0.95.0
Flask==2.3.3
flask-marshmallow==0.15.0
flask-restplus==0.13.0
Flask-SQLAlchemy==3.0.5
greenlet==2.0.2
h11==0.14.0
httptools==0.5.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsonify==0.5
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
Mako==1.2.4
MarkupSafe==2.1.2
marshmallow==3.20.1
packaging==23.1
pydantic==1.10.7
pydub==0.25.1
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
referencing==0.30.2
requests==2.31.0
rpds-py==0.10.2
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.4.47
SQLAlchemy-Utils==0.40.0
starlette==0.26.1
swagger-ui-bundle==0.0.9
typing_extensions==4.5.0
urllib3==2.0.3
uvicorn==0.21.1
watchfiles==0.19.0
websockets==11.0.1
Werkzeug==2.3.7
